@import './variable.scss';

.name {
    box-sizing: border-box;

    position: absolute;
    left: 7.87%;
    right: 57.09%;
    top: 6.76%;
    bottom: 84.23%;

    font-family: 'Rufina';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

    color: $dark_green;
}

.icon-arrow {
    position: absolute;
    right: 48px;
    top: 16px;
}

.section-category {
    padding-top: 128px;
    padding-bottom: 128px;
}

.list-category-item{
    margin-top: 126px;
}

.category-item img{
    width: 100%;
}