@import './variable.scss';

.section-menu-list {
    padding-top: 122px;
    padding-bottom: 140px;
}

.menu-category {
    padding-top: 81px;
    padding-bottom: 140px;
}

.menu-category img {
    width: 100%;
}